@tailwind base;
@tailwind components;
@tailwind utilities;

.customFont {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
}

*::selection {
  background-color: #b9ff66;
  color: black;
  background-color: #383a4ab2;
}

* {
  scroll-behavior: smooth;
}
